@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&family=Varela+Round&display=swap');
/* Universal Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-color: maroon black;
}

/* HOME PAGE */
canvas {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    z-index: -1;
}


.home{
    display: grid;
    place-items: center;
    min-height: 100vh;
    width: 100%;
}

.home-text h1{
    font-family: 'Varela Round', sans-serif;
    font-size: 20vh;
    font-weight: 900;
    color: maroon;
}


.home-text a:hover{
    border: 4px solid maroon;
    color: white;
    box-shadow: inset 0 0 5000px rgba(0,0,0,.3);
}

.home-text a{
    margin-top: 25px;
    border: 4px solid #4eccc1;
    border-radius: 1rem;
    box-shadow: inset 0 0 5000px rgba(0,0,0,.3);
    font-family: 'Varela Round', sans-serif;
    font-size: 30px;
    font-weight: 550;
    color: #dfdfdf;
    text-decoration: none;
}


.explosion{
    display: none;
}

#unhide {
    --animate-duration: 5s;
}

/* Nav */
.navbar{
    background-color: maroon;
}

.nav-link{
    color: white;
}

/* ABOUT */
.about{
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: black;
}

.about-text {
    /* text-align: center; */
}

.about-header{
    padding-top: 30px;
    font-family: 'Varela Round', sans-serif;
    font-size: 200px;
    color: rgba(255, 255, 255, 0.836);
}

.about-body {
    border: 5px solid maroon;
    border-radius: 2rem;
    padding: 0.75rem;
    font-size: 1.5rem;
    color: white;
    margin-left: 100px;
    margin-right: 100px;
}

.about-border {
    margin: auto 0;
}


/* MEDIA QUERIES */

@media(max-width: 1100px) {

    /* ABOUT */

    .about-header {
        font-size: 10rem;
        padding-top: 30px;
    }

    .about-body {
        font-size: 1.5rem;
        margin-left: 80px;
        margin-right: 80px;
    }
}



@media(max-width: 975px) {

    /* TITLE PAGE */

    .home-text h1{
        font-size: 8rem;
    }

    .home-text a{
        font-size: 22px;
        border: 3px solid #4eccc1;
        border-radius: .75rem;
    }

    /* ABOUT */

    .about-header {
        font-size: 10rem;
    }

    .about-body {
        font-size: 1.25rem;
        margin-left: 90px;
        margin-right: 50px;
    }


}


@media(max-width: 820px) {

    /* TITLE PAGE */

    .home-text h1{
        font-size: 6.5rem;
    }

    .home-text a{
        font-size: 19px;
        border: 3px solid #4eccc1;
        border-radius: .75rem;
    }
    /* ABOUT */

    .about-header {
        font-size: 9rem;
    }

    .about-body {
        font-size: 1.2rem;
        margin-left: 75px;
        margin-right: 40px;
    }

}

@media(max-width: 700px) {

    /* TITLE PAGE */

    .home-text h1{
        font-size: 5rem;
    }


    /* ABOUT */

    .about-header {
        font-size: 7.5rem;
    }

    .about-body {
        font-size: 1.2rem;
        margin-left: 40px;
        margin-right: 40px;
    }

}

@media(max-width: 520px) {

    /* TITLE PAGE */

    .home-text h1{
        font-size: 4rem;
    }
    
    .home-text a{
        font-size: 15px;
        border: 3px solid #4eccc1;
        border-radius: .75rem;
    }

    /* ABOUT */

    .about-header {
        font-size: 5.5rem;
    }

    .about-body {
        font-size: 1.0rem;
    }

}

@media(max-width: 420px) {

    /* TITLE PAGE */

    .home-text h1{
        font-size: 3rem;
    }

    .home-text a{
        font-size: 13px;
        border: 3px solid #4eccc1;
        border-radius: .75rem;
    }

        /* ABOUT */

        .about-header {
            font-size: 4.5rem;
        }
    
        .about-body {
            font-size: .90rem;
            padding: .5rem;
        }
}
