@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200&display=swap');
/* Universal Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #631515 black;
    outline: none;
}

html {
    --scrollbarBG: black;
    --thumbBG: #631515;
  }
  body::-webkit-scrollbar {
    width: 11px;
  }
  body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}
/* NAV */

.nav-link{
    color: rgba(255, 255, 255, 0.9) !important;
}

.active .nav-link{
    color: rgb(112, 25, 25) !important;
}

.nav-back{
    background-color: #000000;
}

/* HOME PAGE */
canvas {
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
    background-color: black;
    min-height: 106vh;
    width: 100%;
}


.home{
    display: grid;
    place-items: center;
    min-height: 98vh;
    width: 100%;
}

.home-text h1{
    font-family: 'Exo', sans-serif;
    font-size: 20vh;
    font-weight: 900;
    color: #631515;
    margin-bottom: 50px;
}

.explosion{
    display: none;
}

#unhide {
    --animate-duration: 3s;
}

/* HEADERS */
.about-header{
    margin-top: 75px;
    font-family: 'Exo', sans-serif;
    font-size: 150px;
    font-weight: 1000;
    color: rgba(99, 21, 21, 0.9);
}

.contact-header, .project-header, .members-header{
    padding-top: 75px;
    font-family: 'Exo', sans-serif;
    font-size: 150px;
    font-weight: 1000;
    color: rgba(99, 21, 21, 0.9);
}

/* ABOUT */
.about{
    /* min-height: 85vh; */
    background-color: black;
    display: grid;
    place-items: top;
}

.about-body {
    border: 5px solid rgba(99, 21, 21, 0.9);
    border-radius: 2rem;
    padding: 0.75rem;
    font-size: 1.5rem;
    color: white;
    margin-left: 100px;
    margin-right: 50px;
    display: flex;
    flex-wrap: column wrap;
    justify-content: space-around;
    box-shadow: inset 0 0 1000px 200px rgba(0, 0, 0, 0.9);
}

.about-body-info{
    margin: auto 0;
}

.about-border {
    margin: auto 0;
}

/* PROJECTS */
.projects{
    min-height: 100vh;
    background-color: black;
}

.project-btn button{
    border-radius: 10px;
    margin: 0px 10px 10px;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 700;
    background-color: black;
}

.project-btn button:hover{
    border: 3px solid #631515;
    background-color: rgba(0, 0, 0, 0.9);
    color: #631515;
    font-weight: 700;
}

.card{
    background-color: rgba(0, 0, 0, 0.9);
    border:5px solid rgba(99, 21, 21, 0.9);
    border-radius: 2rem;
    color: white;
    margin: 20px 0px;
}

.card a{
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 15px;
    padding: .5rem .75rem;
    text-align: center;
}

.card a:hover{
    color: black;
    background-color: white;
}

.proj-a{
    display: grid;
    place-items: center;
}

.gal-active{
    border: 3px solid #631515;
    background-color: white;
    color: #631515;
}

.gal-inactive{
    background-color: #631515;
    border: 3px solid white;
    color: white;
}

/* MEMBERS */
.members{
    min-height: 85vh;
    background-color: black;
}

.indiv-card{
    display: flex;
    border: 5px solid rgba(99, 21, 21, 0.9);
    border-radius: 2rem;
    justify-content: center;
    margin: 2rem 5rem;
    color: white;
    background-color: black;
}
.indiv-pic{
    flex: 1;
    padding: 2rem 2rem;
}

img{
    width: 300px;
    height: 300px;
}

.member-img{
    border-radius: 60%;
    /* width: 300px;
    height: 300px; */
}

.date-color{
    font-weight: bold;
    color: rgba(99, 21, 21, 0.9);
    font-size: 35px;
    padding-bottom: 15px;
}

.indiv-info{
    flex: 3;
    margin: auto 1.75rem auto 1rem;
}

.indiv-info h5{
    font-size: 3vw;
}

.indiv-info ul li, .indiv-info p{
    margin-left: 3rem;
    font-size: 1.35vw;
}

.icons{
    flex: .25;
    margin: auto 0;
    cursor: pointer;
}

.icons a{
    color: white;
}

.fa-linkedin:hover, .fa-github-square:hover  {
    /* border: 2px solid #631515; */
    cursor: pointer;
    color: #631515;
}

.owl-carousel span {
    background: #631515 !important;
}

.owl-carousel .active span {
    background: white !important;
}

/* CONTACT */
.contact{
    background-color: black;
    /* background-color: rgba(7, 7, 7, 0.527); */
    min-height: 95vh;
}

.contact-info{
    border: 5px solid rgba(99, 21, 21, 0.9);
    border-radius: 2rem;
    display: flex;
    flex-wrap: column wrap;
    justify-content: space-around;
    box-shadow: inset 0 0 1000px 200px rgba(0, 0, 0, 0.9);
    margin: 3vw 0 auto;
    padding: 3vw 0;
}
.contact-info h2{
    font-size: 2vw;
}
.contact-info-text{
    margin: auto 0;
    color: white;
    padding-left: 1vw;
}

.contact-info-text a{
    text-decoration:none;
    color: white;
}

.website-link a:hover{
    cursor: pointer;
    color: rgba(99, 21, 21, 0.9);
}

.contact-form{
    background-color: black;
    color: #dfdfdf;
    border-radius: 10px;
    margin: 5px 0;
    padding: 10px;
    font-size: 20px;
    width: 80%;
}

input, textarea{
    border: 3px solid white;
}

.contact-submit {
    background-color: black;
    border: 3px solid rgba(99, 21, 21, 0.9);
    color: white;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 500;
}

input, textarea{
    outline: none;
}

input[type=submit]:hover{
    border: 3px solid white;
    background-color: rgba(99, 21, 21, 0.9);
    color: white;
    font-weight: 500;
}


input[type=text]:focus, textarea:focus {
    border: 3px solid #631515;
}

#error-message {
    margin: 10px auto;
    padding: 0px;
    box-shadow: inset 0 0 1000px 200px rgba(99,21,21,.9);
    color: white;
    border-radius: 10px;
    width: 77%;
    text-align: center;
    font-size: 20px;
    transition: all 0.5s ease;
}

/* Footer */
.footer {
    background-color: black;
    border-top: 3px solid rgba(99,21,21,.9);
}

.footer p {
    padding: 15px 0 15px;
    margin: auto 0;
    text-align: center;
    color: #dfdfdf;
}
/* THANK YOU */
.thank-you-container{
    font-family: 'Varela Round', sans-serif;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: rgba(99, 21, 21, 0.9);
    overflow: hidden;
}

.thank-you-content{
    text-align: center;
    /* box-shadow: inset 1000px 1000px 1000px rgba(99,21,21,.7); */
    border: 3px solid white;
    border-radius: 2rem;
    padding: 5rem 5rem;
    line-height: 6rem;
    font-size: 3rem;
}

.thank-you-container p{
    margin-top: 2rem;
    color: rgba(99, 21, 21, 0.9);
    font-weight: 700;
}

.thank-you-container a button{
    border: 3px solid #631515;
    border-radius: 5rem;
    cursor: pointer;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: #631515;
    background-color: black;
}

.thank-you-container a button:hover{
    border: 3px solid white;
    background-color: #631515;
    color: white;
}
/* MEDIA QUERIES */
@media(max-width: 1100px) {

    /* ABOUT */
    .about-header{
        margin-top: 20px;
    }
    .about-header, .contact-header{
        font-size: 10rem;
        padding-top: 30px;
    }

    .about-body {
        font-size: 1.5rem;
        margin-left: 80px;
        margin-right: 80px;
    }
    /* CONTACT */
    .contact-header{
        padding-top:60px;
    }
    #error-message {
        width: 75%;
    }
    /* PROJECTS */
    .project-header, .members-header{
        font-size: 9rem;
    }

    /* MEMBERS */
    .indiv-info{
        font-size: 1rem;
    }

    .indiv-info h5{
        font-size: 2.75vw;
    }
    
    .indiv-info ul li, .indiv-info p{
        margin-left: 3rem;
        font-size: 1.5vw;
    }
    .icons{
        margin: auto 2rem;
    }

    /* THANK YOU */
    .thank-you-content{
        padding: 4rem 4rem;
        line-height: 5rem;
        font-size: 2.75rem;
    }

    .thank-you-container p{
        margin-top: 1rem;
    }

    .thank-you-container a button{
        font-size: 1.25rem;
    }
}

@media(max-width: 990px) {

    /* TITLE PAGE */

    .home-text h1{
        font-size: 8rem;
    }

    .home-text a{
        font-size: 22px;
        border: 3px solid #4eccc1;
        border-radius: .75rem;
    }

    /* ABOUT */

    .about-header, .contact-header {
        font-size: 9rem;
    }

    .about-body {
        font-size: 1.25rem;
        margin-left: 90px;
        margin-right: 50px;
    }

    /* CONTACT */
    .contact-info {
        width: 50%;
        margin: auto;   
    }

    .contact-header{
        padding-top:60px;
    }
    .contact-form{
        margin: 7px auto;
        width: 87%;
    }

    .indiv-info h5{
        font-size: 2.75vw;
    }
    
    .indiv-info ul li{
        margin-left: 2.5rem;
        font-size: 1.5vw;
    }

    #error-message {
        width: 83%;
    }

    /* PROJECTS */
    .project-header, .members-header{
        font-size: 8rem;
    }

    .project-btn button{
        margin: 0px 10px 10px;
        padding: 10px 30px;
        font-size: 15px;
    }

    .card{
        margin: 20px 100px;
    }

    /* MEMBERS */
    .indiv-card{
        margin: 3rem 1rem;
    }
    .indiv-info{
        font-size: .95rem;
    }

    .icons{
        margin: auto 2rem;
    }

    .pic-text{
        font-size: 1.5rem;
    }

    .indiv-pic{
        flex: 1;
        padding: 3rem 1.5rem;
    }

    /* THANK YOU */
    .thank-you-content{
        padding: 3rem 3rem;
        line-height: 5rem;
        font-size: 2.25rem;
    }
}


@media(max-width: 820px) {

    /* TITLE PAGE */

    .home-text h1{
        font-size: 6.5rem;
    }

    .home-text a{
        font-size: 19px;
        border: 3px solid #4eccc1;
        border-radius: .75rem;
    }
    /* ABOUT */

    .about-header{
        font-size: 9rem;
    }

    .about-body {
        font-size: 1.2rem;
        margin-left: 75px;
        margin-right: 40px;
    }

    /* CONTACT */
    .contact-header{
        font-size: 8rem;
        padding-top:60px;
    }

    .contact-info {
        width: 80%;
    }

    .contact-info-text h2 {
        font-size: 1.4rem;
    }

    .contact-info-text h3{
        font-size: 1.4rem;
    }

    #error-message {
        width: 82%;
    }

    /* MEMBERS */
    .indiv-card{
        margin: 3rem 0rem;
    }
    .indiv-info{
        font-size: 1rem;
    }

    .icons{
        margin: auto .5rem;
    }
    .indiv-pic{
        flex: 1;
        padding: 3rem 1rem;
    }
    
    .indiv-info ul li{
        margin-left: 2.5rem;
        font-size: 1.75vw;
    }

    .pic-text{
        font-size: 1rem;
    }
    /* THANK YOU */
    .thank-you-content{
        padding: 2rem 2rem;
        line-height: 5rem;
        font-size: 2.15rem;
    }
    .thank-you-container a button{
        font-size: 1.15rem;
    }
}

@media(max-width: 768px) {

    .navbar ul{
        position: absolute;
    }
    .about-body {
        font-size: 1.25rem;
        margin-left: 50px;
        margin-right: 50px;
    }
    
    .about-border{
        text-align: center;
    }

    .contact-info {
        width: 60%;
        margin: auto;   
    }

    .contact-form{
        margin: 7px auto;
    }

    .contact-submit {
        margin: 10px 0;
        padding: 10px 40px;
        font-size: 15px;
    }

    #error-message {
        width: 83%;
    }

    /* PROJECTS */
    .project-header{
        font-size: 7rem;
    }

    .project-btn button{
        margin: 0px 10px 10px;
        padding: 10px 30px;
        font-size: 15px;
    }

    .card{
        margin: 20px 80px;
    }

    .members-header{
        font-size: 7.5rem;
    }

    /* THANK YOU */
    .thank-you-content{
        padding: 3rem 2rem;
        line-height: 4rem;
        font-size: 2rem;
    }
    
    .thank-you-container p{
        margin-top: .5rem;
    }

    .thank-you-container a button{
        font-size: 1.0rem;
    }
}


@media(max-width: 700px) {

    /* TITLE PAGE */

    .home-text h1{
        font-size: 5rem;
    }


    /* ABOUT */

    .about-header, .contact-header {
        font-size: 7.5rem;
    }

    .about-body {
        font-size: 1.2rem;
        margin-left: 40px;
        margin-right: 40px;
    }

    .indiv-info h5{
        font-size: 2vw;
    }
    
    .indiv-info ul li{
        margin-left: 2rem;
        font-size: 1.85vw;
    }

    /* CONTACT */
    .contact-info-text h2 {
        font-size: 1.25rem;
    }

    .contact-info-text h3{
        font-size: 1.25rem;
    }

    .contact-form{
        font-size: 1.2rem;
        width: 90%;
    }
    .contact-info-text h2 {
        font-size: 1.2rem;
    }
    .contact-info-text h3{
        font-size: 1.24rem;
    }
    /* PROJECTS */
    .project-header, .members-header{
        font-size: 6rem;
    }

    .card{
        margin: 20px 70px;
    }
    /* MEMBERS */
    .indiv-card{
        margin: 3rem 0rem;
    }
    .indiv-info{
        font-size: .75rem;
    }
    .indiv-info ul li{
        margin-left: 2rem;
    }

    .icons{
        margin: auto 1rem;
    }

    /* THANK YOU */
    .thank-you-content{
        padding: 2rem 1.75rem;
        line-height: 4rem;
        font-size: 1.5rem;
    }
    
    .thank-you-container p{
        margin-top: .5rem;
    }

    .thank-you-container a button{
        font-size: 1.0rem;
    } 
}

@media(max-width: 576px) {

    /* TITLE PAGE */

    .home-text h1{
        font-size: 4rem;
    }
    
    .home-text a{
        font-size: 15px;
        border: 3px solid #4eccc1;
        border-radius: .75rem;
    }

    /* ABOUT */

    .about-header, .contact-header {
        font-size: 5.5rem;
    }

    .about-body {
        font-size: 1.0rem;
        margin-left: 50px;
    }

    /* CONTACT */
    .contact-info {
        margin: 20px auto;
        width: 80%;
    }

    .contact-form{
        font-size: 1.0rem;
    }

    .contact-submit {
        margin: 10px 0;
        padding: 10px 30px;
        font-size: 13px;
    }

    /* PROJECTS */
    .project-header, .members-header{
        font-size: 5rem;
    }

    .project-btn button{
        margin: 0px 5px 10px;
        padding: 10px 30px;
        font-size: 15px;
    }

    .card{
        margin: 20px 50px;
    }

    /* MEMBERS */
    .indiv-card{
        margin: 2rem 0rem;
    }
    .indiv-info{
        display: none;
    }

    .icons{
        margin: auto 2rem;
    }

    .indiv-pic{
        flex: 1;
        padding: 3rem 3rem;
    }
    /* THANK YOU */
    .thank-you-content{
        padding: 1.75rem 1.5rem;
        line-height: 3.5rem;
        font-size: 1.15rem;
    }
    
    .thank-you-container p{
        margin-top: 0px;
    }

    .thank-you-container a button{
        font-size: .75rem;
    } 
}

@media(max-width: 420px) {

    /* TITLE PAGE */

    .home-text h1{
        font-size: 3rem;
    }

    .home-text a{
        font-size: 13px;
        border: 3px solid #4eccc1;
        border-radius: .75rem;
    }

    /* ABOUT */

    .about-header, .contact-header {
        font-size: 4.5rem;
    }
    
    .about-body {
        font-size: .90rem;
        padding: .5rem;
    }    

    /* CONTACT */
    .contact-info {
        padding: 1rem 1.5rem;
    }

    .contact-info-text h2 {
        font-size: 1.2rem;
    }
    .contact-info-text h3{
        font-size: 1.24rem;
    }

    /* PROJECTS */
    .project-header, .members-header{
        font-size: 4rem;
    }
    
    .project-btn button{
        margin: 0px 2px 10px;
        padding: 10px 30px;
        font-size: 12px;
    }
    
    .card{
        margin: 20px 0px;
    }

    /* THANK YOU */
    .thank-you-content{
        padding: 1.25rem 1rem;
        line-height: 3rem;
        font-size: .90rem;
    }
    
    .thank-you-container p{
        margin-top: 0px;
    }

    .thank-you-container a button{
        font-size: .65rem;
    } 
}
