@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200&display=swap');
/* Universal Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #6e1313 black;
    outline: none !important;
}

html {
    --scrollbarBG: black;
    --thumbBG: rgb(102, 21, 21);
  }
  body::-webkit-scrollbar {
    width: 11px;
  }
  body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

body{
  background-color: black;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* TITLE */
#title{
  margin-top: 1rem;
}
.title{
  font-family: 'Exo', sans-serif;
  font-size: 5vw;
  font-weight: 1000;
  /* color: rgba(99, 21, 21, 0.9); */
  padding-bottom: 15px;
  color: #6e1313;
}

.matrix{
  margin: auto 25px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 25px;
}

#PLOTS{
  display: grid;
  place-items: center;
}

.navbar .form-control{
  background-color: black;
  color: rgba(255, 255, 255, 0.9) !important;
  box-shadow: none !important;
  border: 1.5px solid whitesmoke;
}

input[type=search]:hover{
  border: 3px solid #6e1313;
}


input[type=search]:focus, textarea:focus {
  border: 3px solid #6e1313;
}

.navbar .btn{
  background-color: black;
  color: rgba(255, 255, 255, 0.9) !important;
  box-shadow: none !important;
  border: 2px solid #6e1313;
}

.navbar .btn:hover{
  border: 2px solid whitesmoke;
  background-color: #6e1313; 
  color: rgba(255, 255, 255, 0.9) !important;
}

.containerTab{
  text-align: center;
}
/* iframe {
  height: 100%;
  width: 75%;
position: absolute; 
} */
.undertext{
  font-size: 2.5vw;
  color: #e7dddd;
}

.type_legend{

}

.legend{
  list-style: none;

}
.legend li {
  float: left;
  margin-right: 10px;
  font-size: 1.5vw;
  color: white;
}
.legend span {
  border: 1px solid black;
  float: left;
  width: 15px;
  height: 15px;
  margin: 2px;
}

.legend .TypeII { background-color: #6e1313;}

.legend .TypeIa {background-color: #e7dddd;}

.p-0{
  background: black;
}

.shadow-sm {
  float: left;
  border-style:dashed;

  background-size: 100% 100%;
  padding: 50px;
  text-align: center;
  font-size: 1.65vw;
  cursor: pointer;
  color:#e7dddd;



}

.py-2 {
  background: black; 
  border-style: dashed;
  color: #e7dddd;
}
